{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coding MEET app</title>
</head>
<body>
  
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/eventos">Eventos</a>
            </li>
             
            {% if user.is_authenticaded %}
            <li>
                <a href="/logout">Cerrar sesión</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Registrarse</a>
            </li>
            <li>
                <a href="/signin">Inicio sesión</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>


